/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --vt-c-blue-fg-light: #3498db;
  --vt-c-blue-fg-dark: #2980b9;
  --vt-c-blue-bg-light: #5bc0de;
  --vt-c-blue-bg-dark: #31b0d5;
  --vt-c-green-fg-light: #2ecc71;
  --vt-c-green-fg-dark: #27ae60;
  --vt-c-green-bg-light: #5cb85c;
  --vt-c-green-bg-dark: #449d44;
  --vt-c-red-fg-light: #e74c3c;
  --vt-c-red-fg-dark: #c0392b;
  --vt-c-red-bg-light: #d9534f;
  --vt-c-red-bg-dark: #c9302c;
  --vt-c-yellow-fg-light: #f1c40f;
  --vt-c-yellow-fg-dark: #f39c12;
  --vt-c-yellow-bg-light: #f0ad4e;
  --vt-c-yellow-bg-dark: #ec971f;
  --vt-c-purple-fg-light: #9b59b6;
  --vt-c-purple-fg-dark: #8e44ad;
  --vt-c-purple-bg-light: #9d71d9;
  --vt-c-purple-bg-dark: #8e44ad;
  --vt-c-cyan-fg-light: #1abc9c;
  --vt-c-cyan-fg-dark: #16a085;
  --vt-c-cyan-bg-light: #5bc0de;
  --vt-c-cyan-bg-dark: #31b0d5;
  --vt-c-orange-fg-light: #e67e22;
  --vt-c-orange-fg-dark: #d35400;
  --vt-c-orange-bg-light: #f0ad4e;
  --vt-c-orange-bg-dark: #ec971f;
  --vt-c-pink-fg-light: #e91e63;
  --vt-c-pink-fg-dark: #d81b60;
  --vt-c-pink-bg-light: #d9534f;
  --vt-c-pink-bg-dark: #c9302c;
  --vt-c-teal-fg-light: #1abc9c;
  --vt-c-teal-fg-dark: #16a085;
  --vt-c-teal-bg-light: #5bc0de;
  --vt-c-teal-bg-dark: #31b0d5;
  --vt-c-lime-fg-light: #2ecc71;
  --vt-c-lime-fg-dark: #27ae60;
  --vt-c-lime-bg-light: #5cb85c;
  --vt-c-lime-bg-dark: #449d44;
  --vt-c-gray-fg-light: #95a5a6;
  --vt-c-gray-fg-dark: #7f8c8d;
  --vt-c-gray-bg-light: #d9edf7;
  --vt-c-gray-bg-dark: #bce8f1;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-accent: var(--vt-c-blue-fg-light);
  --color-accent-bg: var(--vt-c-blue-bg-light);
  --color-hover: var(--vt-c-blue-fg-dark);

  --color-error-bg: var(--vt-c-red-bg-light);
  --color-error-fg: var(--vt-c-gray-fg-light);

  --default-popup-bg: var(--vt-c-green-fg-light);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
    --color-accent: var(--vt-c-blue-fg-dark);
    --color-accent-bg: var(--vt-c-blue-bg-dark);

    --color-error-bg: var(--vt-c-red-bg-dark);
    --color-error-fg: var(--vt-c-gray-fg-dark);

    --default-popup-bg: var(--vt-c-green-fg-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

